* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;   }
html {
   font-size: 62.5%;
   font-family: sans-serif;   }
@media (max-width : 768px) {
   html {
      font-size: 43.75%;
   }   }
/*-------------------*/
.weather {
   width: 50rem;
   margin: 5vh auto;
   padding: 3rem;
   border-radius: 3rem ;
   display: flex;
   flex-direction: column;
   gap: 3rem;
   align-items: center;
   justify-content: center;   
   color: white;
   background: linear-gradient(135deg , #00feba , #5b548a );   }
.weather .search {
   width: 100%;
   display: flex;
   align-items: center;
   gap: 2rem;   }
.weather .search button {
   font-size: 2rem;
   color: black;
   width: 4rem;
   height: 4rem;
   background-color: white;
   border-radius: 50%;
   cursor: pointer;
   border: none;
   outline: none;   }
.weather .search input {
   font-size: 2rem;
   border: none;
   outline: none;
   flex: 1;
   line-height: 4rem;
   padding: 0 1rem;
   border-radius: 2rem;   }
.details {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 1.5rem;   }
.details .temp {
   font-size: 5rem;   }
.details .city {
   font-size: 3rem;   }
.details .row {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;   }
.details .row .col {
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;   }
.details .row .col img {
   width: 3rem;
   height: 3rem;   }
.details .row .col p {
   font-size: 2.5rem;
   margin-bottom: 0.5rem;   }
.details .row .col span {
   font-size: 1.8rem;   }
/*-------------------*/
